<launch>
  
  <!-- EXAMPLE FOR NANO17 -->

  <include file="$(find force_torque_sensor)/launch/ft_sensor_hw.launch.xml">
      <arg name="ip" value="172.16.0.120"/>
      <arg name="name" value="setup1/sensor2" />
      <arg name="type" value="nano17" />
      <arg name="frame_id" value="right_arm_7_link" />
      <arg name="safety_topic" value="/right_arm/emergency_event" />
      <arg name="safety_threshold" value="0.7" />
      <arg name="publish_rate" value="100" />
      <arg name="startDataStream" value="true" />
  </include>
   
</launch>